<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new college</title>
</head>
<body style="background-color: palegoldenrod;">
<h2 align="center">
    Adding new period
</h2>
<form id="newPeriod" action="#" th:action="@{/period/addNewPeriod}" th:object="${periodFormDTOToAdd}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Select specialties here:
    <ul>
        <li th:each="college: *{colleges}">
            <input type="checkbox"
                   th:field="*{selectedColleges}"
                   th:value="${college.id}" />
            <label
                    th:for="${#ids.prev('selectedColleges')}"
                    th:text="${college.name}"></label>
        </li>
    </ul>
    </p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>

<!--<ul style="margin-left: 0; padding-left: 0;">
        <li th:each="college,counter: *{colleges}">
            <input type="checkbox" name="selColleges"
                   th:checked="${#strings.contains(name, college.id)}?'checked'"
                   th:id="${counter.count}"
                   th:value="${college.id}"
                   th:text="${college.name}"/>

        </li>
    </ul>

<ul>
  <li th:each="checkboxValue: ${multiCheckboxAllValues}">
    <input type="checkbox"
        th:field="*{multiCheckboxSelectedValues}"
        th:value="${checkboxValue}" />
    <label
        th:for="${#ids.prev('multiCheckboxSelectedValues')}"
        th:text="${checkboxValue}"></label>
  </li>
</ul>

<li th:each="college,counter : *{colleges}" style="list-style-type: none;">
    <input type="checkbox" name="checkedColleges"
           th:id="${counter.count}"
           th:utext="${college.name}"
           th:value="${college.id}"/>
</li>-->
