<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new college</title>
</head>
<body style="background-color: palegoldenrod;">
<h2 align="center">
    Adding new period
</h2>
<p align="center"><a href="/"> Back to home</a></p>
<form id="newPeriod" action="#" th:action="@{/period/addPeriod}" th:object="${periodFormDTOToAdd}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Select colleges here:
    <ul style="margin-left: 0; padding-left: 0;">
        <li th:each="college: *{colleges}">
            <input type="checkbox"
                   th:field="*{selectedColleges}"
                   th:value="${college.id}" />
            <label
                    th:for="${#ids.prev('selectedColleges')}"
                    th:text="${college.name}"></label>
        </li>
    </ul>
    </p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>
