<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Specialty details</title>
</head>
<body style="background-color: palegoldenrod;">
<h2 align="center">
    <th:block th:text="${selectedCollege.name}"></th:block>
    <br>
    <th:block th:text="${selectedSpecialty.code +' - '+selectedSpecialty.name}"></th:block>
</h2>
<h3 align="center">
    Specialities details
</h3>
<form id="newSpecialtyDetail" th:object="${specialtyDetailFormDTOToAdd}" action="/detail/specialtyDetailAdd"
      method="post">
    <div>
        <p>Select base here:
            <select th:field="*{selectedBase}">
                <option
                        th:each="avBase: *{availableBases}"
                        th:value="${avBase.toString()}"
                        th:text="${avBase.getString()}"></option>
            </select>
        </p>
        <p>Select study form here:
            <select th:field="*{selectedStudyForm}">
                <option
                        th:each="avStudyForm: *{availableStudyForms}"
                        th:value="${avStudyForm.toString()}"
                        th:text="${avStudyForm.getString()}"></option>
            </select>
        </p>
        <p>License capacity: <input type="text" th:field="*{licenseCapacity}"/></p>
        <p>RegionOrder: <input type="text" th:field="*{regionOrder}"/></p>
        <p>RealCapacity: <input type="text" th:field="*{realCapacity}"/></p>
        <p>Graduated: <input type="text" th:field="*{graduated}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        <p><input type="text" th:field="*{specialtyId}" hidden/></p>
    </div>
</form>
<p align="center"><a href="/"> Back to home</a></p>
</body>
</html>