<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Specialty details</title>
</head>
<body style="background-color: palegoldenrod;">
<h2 align="center">
    Specialities details
</h2>
<form id="newSpecialtyDetail" th:object="${specialtyDetailFormDTOToAdd}" action="/detail/specialtyDetailAdd"
      method="post">
    <div>
        <p>Select base here:
            <select th:field="*{selectedBase}">
                <option
                        th:each="avBase: *{availableBases}"
                        th:value="${avBase.toString()}"
                        th:text="${avBase.getString()}"></option>
            </select>
        </p>
        <p>Select study form here:
            <select th:field="*{selectedStudyForm}">
                <option
                        th:each="avStudyForm: *{availableStudyForms}"
                        th:value="${avStudyForm.toString()}"
                        th:text="${avStudyForm.getString()}"></option>
            </select>
        </p>
        <p>License capacity: <input type="text" th:field="*{licenseCapacity}"/></p>
        <p>RegionOrder: <input type="text" th:field="*{regionOrder}"/></p>
        <p>RealCapacity: <input type="text" th:field="*{realCapacity}"/></p>
        <p>Graduated: <input type="text" th:field="*{graduated}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        <p><input type="text" th:field="*{specialtyId}"/></p>
    </div>
</form>
<p align="center"><a href="/"> Back to home</a></p>
</body>
</html>

<!--<select th:field="*{dropdownSelectedValue}">
            <option
                    th:each="dropdownValue: ${singleSelectAllValues}"
                    th:value="${dropdownValue}"
                    th:text="${dropdownValue}" ></option>
        </select>-->

<!-- <table style="margin-left: auto; margin-right: auto;" border="1" th:object="speciltyDetails">
        <tbody>
        <tr>
            <th style="width: 100px; text-align: center;" hidden>Id</th>
            <th style="width: 400px; text-align: center;">Base</th>
            <th style="width: 400px; text-align: center;">StudyFrom</th>
            <th style="width: 400px; text-align: center;">LicenseCapacity</th>
            <th style="width: 400px; text-align: center;">RealCapacity</th>
            <th style="width: 100px; text-align: center;" colspan="2">Actions&nbsp;</th>
        </tr>
        <tr th:each="detail:*{specialtyDetails}">
            <td th:utext="*{detail.id}" style="text-align: center;">1</td>
            <td th:utext="*{detail.base.toString()}">Base</td>
            <td th:utext="*{detail.studyFrom.toString()}">StudyFrom</td>
            <td th:utext="*{detail.licenseCapacity}">LicenseCapacity</td>
            <td th:utext="*{detail.realCapacity}">RealCapacity</td>
            <td style="width: 50px; text-align: center;"><a th:href="@{/specialty/edit/__${specialty.id}__}"
                                                            href="../specialty/listSpecialty.html">edit</a></td>
            <td style="width: 50px; text-align: center;"><a th:href="@{/specialty/delete/__${specialty.id}__}"
                                                            href="../specialty/listSpecialty.html">delete</a></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="8"><a href="/specialty/detail/add">+Add new specialty detail+</a></td>
        </tr>
        </tbody>
    </table>-->