<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Specialty details</title>
</head>
<body style="background-color: palegoldenrod; " th:object="${generalInfoDTO}">
<h2 align="center">
    Specialities details
</h2>
<h3 align="center">
    College name: <span th:text="*{selectedCollege.getName()}"/> <br>(<a href="javascript:history.back()">goBack</a>)
</h3>
<div>
    <table style="margin-left: auto; margin-right: auto;" border="1">
        <tbody>
        <tr>
            <td th:text="*{selectedCollege.getName()}" rowspan="2">college_name</td>
            <td style="width: 250px; text-align: center;" colspan="2">License</td>
            <td style="width: 250px; text-align: center;" colspan="2">Order</td>
            <td style="width: 250px; text-align: center;" colspan="2">Real</td>
            <td style="width: 250px; text-align: center;" colspan="2">Graduate</td>
            <td style="width: 250px; text-align: center;" colspan="2" rowspan="2">Actions</td>
        </tr>
        <tr>
            <td style="width: 125px; text-align: center;">daytime</td>
            <td style="width: 125px; text-align: center;">extra</td>
            <td style="width: 125px; text-align: center;">daytime</td>
            <td style="width: 125px; text-align: center;">extra</td>
            <td style="width: 125px; text-align: center;">daytime</td>
            <td style="width: 125px; text-align: center;">extra</td>
            <td style="width: 125px; text-align: center;">day</td>
            <td style="width: 125px; text-align: center;">extra</td>
        </tr>
        <th:block th:each="specialty:*{GeneralInfoSpecialtyDTO}">
            <tr>
                <td th:text="${specialty.specialty.getName()}" style="width: 400px;">Specialty</td>
                <td style="text-align: center;" colspan="2" th:text="${specialty.licenseCapacitySum}">spec_lic_sum</td>
                <td style="text-align: center;" colspan="2" th:text="${specialty.regionOrderSum}">spec_order_sum</td>
                <td style="width: 50px; text-align: center;" colspan="2" th:text="${specialty.realCapacitySum}">
                    spec_real_sum
                </td>
                <td style="width: 50px; text-align: center;" colspan="2" th:text="${specialty.graduatedSum}">
                    spec_grad_sum
                </td>
                <td style="width: 50px; text-align: center;">
                    <a th:href="@{/detail/editDetailsFromSpecialty/__${specialty.specialty.getId()}__}"
                       href="/">edit</a>
                </td>
                <td style="width: 50px; text-align: center;">
                    <a th:href="@{/detail/deleteDetailsFromSpecialty/__${specialty.specialty.getId()}__}" href="/">delete</a>
                </td>
            </tr>
            <tr>
                <td>nine</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityDay['NINE_CLASS']}">nine_day_lic
                </td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['NINE_CLASS']}">nine_ex_lic</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderDay['NINE_CLASS']}">nine_day_order</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['NINE_CLASS']}">nine_ex_order
                </td>
                <td style="text-align: center;" th:text="${specialty.realCapacityDay['NINE_CLASS']}">nine_day_real</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityEx['NINE_CLASS']}">nine_ex_real</td>
                <td style="text-align: center;" th:text="${specialty.graduatedDay['NINE_CLASS']}">nine_day_grad</td>
                <td style="text-align: center;" th:text="${specialty.graduatedEx['NINE_CLASS']}">nine_ex_grad</td>
            </tr>
            <tr>
                <td>elev</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityDay['ELEV_CLASS']}">nine_day_lic
                </td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['ELEV_CLASS']}">nine_ex_lic</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderDay['ELEV_CLASS']}">nine_day_order</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['ELEV_CLASS']}">nine_ex_order
                </td>
                <td style="text-align: center;" th:text="${specialty.realCapacityDay['ELEV_CLASS']}">nine_day_real</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityEx['ELEV_CLASS']}">nine_ex_real</td>
                <td style="text-align: center;" th:text="${specialty.graduatedDay['ELEV_CLASS']}">nine_day_grad</td>
                <td style="text-align: center;" th:text="${specialty.graduatedEx['ELEV_CLASS']}">nine_ex_grad</td>
            </tr>
            <tr>
                <td>kval</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityDay['KVAL_ROB']}">nine_day_lic</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['KVAL_ROB']}">nine_ex_lic</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderDay['KVAL_ROB']}">nine_day_order</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['KVAL_ROB']}">nine_ex_order</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityDay['KVAL_ROB']}">nine_day_real</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityEx['KVAL_ROB']}">nine_ex_real</td>
                <td style="text-align: center;" th:text="${specialty.graduatedDay['KVAL_ROB']}">nine_day_grad</td>
                <td style="text-align: center;" th:text="${specialty.graduatedEx['KVAL_ROB']}">nine_ex_grad</td>
            </tr>

        </th:block>
        <tr>
            <td style="text-align: right;">college_sum</td>
            <td style="text-align: center;" colspan="2" th:text="*{licenseCapacitySum}"></td>
            <td style="text-align: center;" colspan="2" th:text="*{regionOrderCapacitySum}"></td>
            <td style="text-align: center;" colspan="2" th:text="*{realCapacitySum}"></td>
            <td style="text-align: center;" colspan="2" th:text="*{graduatedSum}"></td>
        </tr>
        </tbody>
    </table>


    <!--<table style="margin-left: auto; margin-right: auto;" border="1" th:object="speciltyDetails">
        <tbody>
        <tr>
            <th style="width: 100px; text-align: center;" hidden>Id</th>
            <th style="width: 400px; text-align: center;">Base</th>
            <th style="width: 400px; text-align: center;">StudyFrom</th>
            <th style="width: 400px; text-align: center;">LicenseCapacity</th>
            <th style="width: 400px; text-align: center;">RealCapacity</th>
            <th style="width: 100px; text-align: center;" colspan="2">Actions</th>
        </tr>
        <tr th:each="detail:*{specialtyDetails}">
            <td th:utext="*{detail.id}" style="text-align: center;" hidden>1</td>
            <td th:utext="*{detail.base.toString()}">Base</td>
            <td th:utext="*{detail.studyForm.toString()}">StudyFrom</td>
            <td th:utext="*{detail.licenseCapacity}">LicenseCapacity</td>
            <td th:utext="*{detail.realCapacity}">RealCapacity</td>
            <td style="width: 50px; text-align: center;"><a th:href="@{/specialty/edit/__${detail.id}__}"
                                                            href="../specialty/listSpecialty.html">edit</a></td>
            <td style="width: 50px; text-align: center;"><a th:href="@{/specialty/delete/__${detail.id}__}"
                                                            href="../specialty/listSpecialty.html">delete</a></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="8"><a href="/specialty/detail/add">+Add new specialty detail+</a></td>
        </tr>
        </tbody>
    </table>-->
</div>
<p align="center"><a href="/"> Back to home</a></p>
</body>
</html>