<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Specialty details</title>
</head>
<body style="background-color: palegoldenrod; " th:object="${generalInfoDTO}">
<h2 align="center">
    Specialities details
</h2>
<h3 align="center">
    College name: <span th:text="*{selectedCollege.getName()}"/> <br>
    (<a th:href="@{'/detail/period/'+${session.periodId}}" href="123">goBack</a>)
</h3>
<div>
    <table style="margin-left: auto; margin-right: auto;" border="1">
        <tbody>
        <tr>
            <td th:text="*{selectedCollege.getName()}"
                rowspan="2" style="background-color:  powderblue;">college_name
            </td>
            <td style="width: 250px; text-align: center;" colspan="2">License</td>
            <td style="width: 250px; text-align: center;" colspan="2">Order</td>
            <td style="width: 250px; text-align: center;" colspan="2">Real</td>
            <td style="width: 250px; text-align: center;" colspan="2">Graduate</td>
            <td style="width: 250px; text-align: center;" colspan="2" rowspan="2">Actions</td>
        </tr>
        <tr>
            <td style="width: 125px; text-align: center;">daytime</td>
            <td style="width: 125px; text-align: center;">extra</td>
            <td style="width: 125px; text-align: center;">daytime</td>
            <td style="width: 125px; text-align: center;">extra</td>
            <td style="width: 125px; text-align: center;">daytime</td>
            <td style="width: 125px; text-align: center;">extra</td>
            <td style="width: 125px; text-align: center;">day</td>
            <td style="width: 125px; text-align: center;">extra</td>
        </tr>
        <th:block th:each="specialty:*{GeneralInfoSpecialtyDTO}">
            <tr style="background-color:floralwhite;">
                <td th:text="${specialty.specialty.getCode()+' - '+specialty.specialty.getName()}"
                    style="width: 400px;">Specialty
                </td>
                <td style="text-align: center;" colspan="2" th:text="${specialty.licenseCapacitySum}">spec_lic_sum</td>
                <td style="text-align: center;" colspan="2" th:text="${specialty.regionOrderSum}">spec_order_sum</td>
                <td style="width: 50px; text-align: center;" colspan="2" th:text="${specialty.realCapacitySum}">
                    spec_real_sum
                </td>
                <td style="width: 50px; text-align: center;" colspan="2" th:text="${specialty.graduatedSum}">
                    spec_grad_sum
                </td>
                <td style="width: 50px; text-align: center;">
                    <a th:href="@{/detail/editDetailsFromSpecialty/__${specialty.specialty.getId()}__}"
                       href="/">edit</a>
                </td>
                <td style="width: 50px; text-align: center;">
                    <a th:href="@{'/detail/deleteDetailsFromSpecialty/college/'
                    +${session.collegeId}+'/specialty/'+${specialty.specialty.getId()}}" href="/">
                        delete</a>
                </td>
            </tr>
            <tr>
                <td>на основі базової загальної середньої освіти</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityDay['NINE_CLASS']}">nine_day_lic
                </td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['NINE_CLASS']}">nine_ex_lic</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderDay['NINE_CLASS']}">nine_day_order</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderEx['NINE_CLASS']}">nine_ex_order</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityDay['NINE_CLASS']}">nine_day_real</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityEx['NINE_CLASS']}">nine_ex_real</td>
                <td style="text-align: center;" th:text="${specialty.graduatedDay['NINE_CLASS']}">nine_day_grad</td>
                <td style="text-align: center;" th:text="${specialty.graduatedEx['NINE_CLASS']}">nine_ex_grad</td>
            </tr>
            <tr>
                <td>на основі повної загальної середньої освіти</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityDay['ELEV_CLASS']}">nine_day_lic
                </td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['ELEV_CLASS']}">nine_ex_lic</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderDay['ELEV_CLASS']}">nine_day_order</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderEx['ELEV_CLASS']}">nine_ex_order</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityDay['ELEV_CLASS']}">nine_day_real</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityEx['ELEV_CLASS']}">nine_ex_real</td>
                <td style="text-align: center;" th:text="${specialty.graduatedDay['ELEV_CLASS']}">nine_day_grad</td>
                <td style="text-align: center;" th:text="${specialty.graduatedEx['ELEV_CLASS']}">nine_ex_grad</td>
            </tr>
            <tr>
                <td>на основі ОКР кваліфікованого робітника</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityDay['KVAL_ROB']}">nine_day_lic</td>
                <td style="text-align: center;" th:text="${specialty.licenseCapacityEx['KVAL_ROB']}">nine_ex_lic</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderDay['KVAL_ROB']}">nine_day_order</td>
                <td style="text-align: center;" th:text="${specialty.regionOrderEx['KVAL_ROB']}">nine_ex_order</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityDay['KVAL_ROB']}">nine_day_real</td>
                <td style="text-align: center;" th:text="${specialty.realCapacityEx['KVAL_ROB']}">nine_ex_real</td>
                <td style="text-align: center;" th:text="${specialty.graduatedDay['KVAL_ROB']}">nine_day_grad</td>
                <td style="text-align: center;" th:text="${specialty.graduatedEx['KVAL_ROB']}">nine_ex_grad</td>
            </tr>

        </th:block>
        <tr>
            <td style="text-align: right;"><b>Загалом по коледжу:</b></td>
            <td style="text-align: center;" colspan="2" th:text="*{licenseCapacitySum}"></td>
            <td style="text-align: center;" colspan="2" th:text="*{regionOrderCapacitySum}"></td>
            <td style="text-align: center;" colspan="2" th:text="*{realCapacitySum}"></td>
            <td style="text-align: center;" colspan="2" th:text="*{graduatedSum}"></td>
        </tr>
        </tbody>
    </table>
</div>
<p align="center"><a href="/"> Back to home</a></p>
</body>
</html>