<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Specialty details</title>
</head>
<body style="background-color: palegoldenrod; ">
<h2 align="center">
    Select period to view:
</h2>
<h3 align="center">
    (<a href="/">goBack</a>)
</h3>
<div>

    <table style="margin-left: auto; margin-right: auto;" border="1">
        <tbody>
        <tr>
            <td style="width:100px;text-align: center;">Period</td>
            <td style="width:50px; text-align: center;">Action</td>
        </tr>
        <tr th:each="period:${periods}">
            <td th:text="${period.name}">name</td>
            <td style="text-align: center;">
                <a th:href="@{/detail/period/__${period.id}__}" href="selectCollegeDetail.html">goto</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p align="center"><a href="/"> Back to home</a></p>
</body>
</html>